/* Stylowanie głównego elementu nav */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* Kontener logo i nazwy */
.logo-container {
  display: flex;
  
  align-items: left;
  width: 100%;
}

/* Logo tekst */
.nav-logo {
  font-size: 1.8rem;
  font-weight: lighter;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: center;
  letter-spacing: 2px;
  cursor: pointer;
}

/* Logo ikona */
.logo-icon {
  width: 50px; /* Rozmiar logo */
  height: 50px;
  stroke: white;
  fill: none;
  stroke-width: 3px;
}


/* Lista rozwijana */
.dropdown-menu {
  position: absolute;
  top: 70px; /* Odstęp od góry */
  right: 20px; /* Wyrównanie do lewej */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.dropdown-menu .nav-item {
  margin: 10px 0;
  
}
.nav-link{
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.dropdown-menu .nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  display: block;
}


/* Układ na dużych ekranach */
.nav-list {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Lista rozwijana */
.dropdown-menu {
  display: none; /* Domyślnie ukryta */
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.dropdown-menu .nav-item {
  margin: 10px 0;
}

.dropdown-menu .nav-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
@keyframes draw {
  from {
    stroke-dasharray: 4500;
    stroke-dashoffset: 4500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-path {
  stroke-dasharray: 4500;
  stroke-dashoffset: 4500;
  animation: draw 2s ease-in infinite;
}

/* Układ na małych ekranach */
@media (max-width: 768px) {
  .nav-list {
    display: none; /* Ukryj menu na dużych ekranach */
  }
  .menu-toggle {
    display: block; /* Pokaż ikonę rozwijania */
  }
  .dropdown-menu {
    display: block;
  }
  .logo-container{
    justify-content: center;
    flex-direction: row;
    align-items: space-between;
  }
}
